<a href="https://colab.research.google.com/github/federicoding/TestTechnique/blob/main/Analyse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mise en route de l'analyse

## Importation du dataset depuis MongoDB dans Python

In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient

NB: on suppose pymongo installé
Pour la suite, je reprends l'uri précédente et je démarre le client

In [2]:
# uri (uniform resource identifier) pour définir les paramètres de connection

uri = 'mongodb://uza9ynmsdmyniep56h8j:wg83aPoB4is0aerB6vB9@bp6hfvjodoblv07-mongodb.services.clever-cloud.com:27017/bp6hfvjodoblv07'

# on start le client pour se connecter au serveur MongoDB
client = MongoClient(uri)

On va se connecter et importer la collection comme un dataframe Pandas

In [8]:
#on sélectionne la database
db = client['bp6hfvjodoblv07']

In [10]:
#on sélectionne la collection dans cette database
test = db.Transactions

In [11]:
#on convertis toute la collection en un dataframe Pandas
test = pd.DataFrame(list(test.find()))

Juste pour vérifier (des fois que).

In [13]:
test.head()

                        _id InvoiceNo  ... CustomerID         Country
0  60f9941c13c427003cfce89e    536365  ...    17850.0  United Kingdom
1  60f9941c13c427003cfce89f    536365  ...    17850.0  United Kingdom
2  60f9941c13c427003cfce8a0    536365  ...    17850.0  United Kingdom
3  60f9941c13c427003cfce8a1    536365  ...    17850.0  United Kingdom
4  60f9941c13c427003cfce8a2    536365  ...    17850.0  United Kingdom

[5 rows x 9 columns]

Bon, maintenant que l'aller retour est fait, i.e. on travaille avec un dataframe extrait d'une collection qui provient d'une base de données MongoDB, on peut se mettre au travail ^^